body{
  font-family: Montserrato;
}
.header{
  min-height: 80vh;
  height: 500px;
  background: linear-gradient( rgba(162, 0, 255, 0.65),
                                #ff00ea60),
                  url(../../sonia-guimaraes/img/soniatop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.teste{    
   width: 100%;  
  }  

.teste1{     
     width:100%; 
     text-align: center;    
 }  
.h1{    
   color: #ffffff;    
   text-transform: uppercase;
 }
 .caixa_grande{
  text-align: center;
 }

 .caixa_grandona{
   display: flex;
   flex-direction: center;
   align-items: center;
   justify-content: center;
   width: 100%;
 }
 .primeira_img{
    max-width: 200px;
 }
 .primeira_img img{
  max-width: 100%;

 }
 .texto_ladobio{
  width: 50%;
 }
 .texto_ladobio2{
  width: 50%;
 }
 .caixacomborda{
   border:#674582 1px solid;
   text-align: center;
   width: 70%;
   padding: 10px;
   box-sizing: border-box;
   font-size:20px;
   margin: 20px auto;
}
.imagemdabio{
  margin-right: 10px;
}
.historia{
  margin: auto;
  width: 70%;
}
.fotomeio{
  width: auto;
}
.caixa_autora{
  width: 100%;
  height: 100px;
  background-color:#e4b7e5  ;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 .autora_img img{
  max-width: 96px;
  width: 100%;
  
 }
 .rodape {
  padding-top: 0;
}

.rodape__principal {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rodape__logo img {
  max-width: 250px;
}

.rodape__navegacao > li {
  font-size: 1.5rem;;
}

.header-personalidade {
  padding: 0 20rem;
  display: flex;
  
  align-items: flex-end;
}

.header-personalidade__titulo {
  font-size: 3.5rem;
  text-align: center;
}

.botao{
  width: 100%;
  text-align: center;
  padding: 50px;

}
.btn{
  width: 16%;
  background-color: #c083b9;
 
  
}
