*{
    box-sizing:border-box ;
}
html {
    font-size: 10px;

}

body {
    font-family: 'Montserrat, Arial, Helvetica, sons-serit';
    margin: 0;
}

main{
  color: #63458a;
  padding: 20px 100px;
}

a {
    text-decoration:none;
    calor:inherit;
}

ul{
    padding: 0;
}

li {
    list-style: none;
    padding: 1.5rem;
}

.img-responsive{
    width: 100%;;
}

.navbar{
    background-color: #674582;
    color: white;
    padding: 1.5rem;
    width: 100%;
}

.navBar_box {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container {
    margin: 0;
    width: 100%;
    max-width: 960px;
}

.btn {
    text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.8rem
}

.btn_roxo {
    color: white;
    background-color: #C083B9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
    margin: 50px auto;
  }

  .btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
    transform: translateY(-.5rem);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
  }

.btn_center {
    margin: 0 auto;
  }

.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    justify-content: space-around;

}

.navegacao_logo {
    max-width: 200px;

}

.navegacao_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}

.navegacao__itens{
    position: absolute;
  right: -700px;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
  display: none;
}

.navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
  }

.navegacao__itens li > a:hover {
    color: #C083B9;
  }
  
.navegacao__menu-hamburguer img {
    background-color: #C083B9;
    border-radius: 5px;
  }
  
.navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
  }

.navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
  }

.navegacao__redes-sociais a {
    margin: 0 1rem;
  }
/* HEADER estoou começando o header */

  .header {
    min-height: 80vh;
    height: 500px;
    background: linear-gradient(rgba(255, 0, 255, 0.2),
                                rgba(255, 0, 255, 0.2)),
                url(../img/Nina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: white;
/*    padding: 11rem 2rem 5rem 2rem;*/
}


.principal__titulo {
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: left;
  margin: 0 20px;
  font-weight: 900;
}



/* main */

.nina{
  align-items: center;
}

.nina--titulo{
  text-align: center;
  font-size: 2.8rem;
}

.nina--container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nina--imagem{
  width: 150px;
  height: 150px;
  border-radius: 10px;

}

.nina--texto{
  width: 550px;
  padding: 27px 20px;
  font-size: 1.6rem;
}

.box{
  border:1px solid #674582 ;
  margin: 30px;
}

.box--texto{
  text-transform:lowercase ;
}

.historia{
  text-align: left;
  font-size: 1.8rem;
}

.historia--imagem{
  align-items: center;
  justify-content: center;
  width: 100%;
  height:390px;

}

.autora{
  background: #e4b7e5;
}

.autora--container{
  display: flex;
  align-items:center ;
  justify-content: center;
}
 
.autora--imagem{
  width: 150px;
  height: 150px;
}

.autora--links{
  margin-left: 1.8rem ;
  color: #63458a;
  font-weight: 600;
}



/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: .9rem;
  display: flex;
  align-items: center;
  padding-top: .8rem;
  flex-direction: column;
}

.rodape__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
  text-decoration: none;
}

.rodape__principal >  {
  margin: 1rem 0;
}

.rodape__navegacao > li {
  font-size: 1.1rem;
  margin: 1rem;
  color: white;
}


.rodape__logo {
  max-width: 200px;
}
.rodape-color{
  color: white;
}

.redes{
  text-decoration: none;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: .5rem;
}

.rodape__redes-sociais {
  display: flex;
  font-size: 1.5rem;
  margin-left: 20px;
}

.rodape__cc {
  width: 100%;
  background-color: #292A2A;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

@media screen and (max-width:700px ) { 
  .box{
    margin: 5px 20px;
  }
  main{
    padding: 20px;
  }
  
} 






  









 





