/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}



/* --- NAV --- */
.navegacao {
  background-color: #674582;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px rgba(0,0,0,.2);
  padding: 1.5rem;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navegacao__logo {
  max-width: 200px;
  justify-content: flex-start;
}
.navegacao__itens {
  margin: 0;
  display:flex;
  }

.navegacao__nav {
  display:flex;
  justify-content: flex-start;
  margin-left: 3rem;
}
.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

}
.navegacao__redes-sociais a {
    margin: 0 1rem;
    
}
.navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
}
.navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
  }
  
.img-responsive-footer {
  background-color: blue;
}
.conteudo__todo {;
  color: #674582;
  padding: 75px;
  font-size: 15px;
  display:flex;
  align-content: center;
  margin-top: 0;
  margin-right: 15px;
  margin-left: 100px;
}
.h1__conteudotodo {
  display: flex;
  color: #674582;
  padding: 25px;
  font-size: 15px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom:0;
}
.paragrafo1__conteudotodo{
  padding: 10px;
  margin-right: 152px;
  margin-left: 0;
  margin-top: 10px;
  align-content: center;
}
.img__conteudotodo {
  margin-right: -16px;
}
.citacao__borda {
  color: #674582;
  font-size: 15px;
  display:flex;
  align-content: center;
  margin-top: 0;
  margin-right: 350px;
  margin-left: 350px;
  border: 1px solid #442b58;
  font-style: italic;
  font-weight: 600;
}
.conteudo__texto {
  color: #674582;
  padding: 150px;
  font-size: 15px;
  display:flex;
  align-content: center;
  margin-top: 0;
  margin-right: 15px;
  margin-left: 100px;

}
.autora {
  display:flex;
  justify-content: center;
  background-color: #C083B9;
  color:#442b58;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.paragrafo-autora {
  margin-top: 30px;
  margin-left: 30px;
}
.foto-gabi {
  max-width: 135px;
  max-height: 135px;
}
.botao-space {
    display:flex;
    justify-content: center;
    padding: 50px;
}
.obotao {
    background: #C083B9;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
}



/*.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.navegacao__itens {
  position: absolute;
  right: -700px;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 3rem 0;
  transition: right 1s;
}

.navegacao__itens li > a {
  transition: all .2s;
}

.navegacao__itens li > a:hover {
  color: #C083B9;
}
*/