

.header{
    background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(245, 52, 245, 0.589)), url(../img/vd-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;

}

.navbar{
    background-color: #674582;
    width: 100%;
    height: 90px;
    
  
}

.navbar__menu{
    color: #ffffff;
    display: flex;  
    padding: 10px;
}

.navbar__item{
    list-style: none;
    text-transform: uppercase;
    padding: 5px;
   
}

.navbar__img{
    width: 57%;
    margin-top: 17px;
    margin-left: 61px;
}

.navbar__link{
    padding: 10px;
}

.navbar__navegacao{
    display: flex;
    
}

.navbar__navegacaooo{
    width: 86%;
    margin-top: 14px;
}

.navbar__navageacaoo{
    width:50%;
}
a{
    list-style: none;
    margin-top: 5px;
}

h2{
    text-align: center;
}

.viola__one{
        display: flex;
        justify-content: center;
        width: 84%;
        margin-bottom: 20px;
        margin: 20px 5px 20px 20px;
        margin-left: 157px;
}

.viola__one--about{
    width: 69%;
    margin-left: 23px;

}

.viola__about--img{
    width: 100%;
    max-width: 400px;
    
}

.viola__two{
    text-align: center;
    width: 69%;
    margin: auto;
    padding: 17px;
    box-sizing: border-box;
    border:#674582 1px solid;
    font-size: 27px;

}

.viola__three{
    width: 69%;
    margin: auto;
}

.viola__p{
    text-align: justify;
}



.viola__history{
    width: 100%;
    height: 317px;
    max-width: 637px;
}


.author{
    background-color: rgb(171, 91, 195);
    width: 100%;
    display: inline-block;
    height: 144px;
}

.author__img{
    width: 100%;
    max-width: 144px;
}

.author_title{
    display: inline;
}

.author__box{
    text-align: center;
}

.botao{
    margin: auto;
    width: 27%;
    padding: 50px;
}

.button{
    padding: 10px;
    box-sizing: border-box;
    width: 238px;
    font-size: 20px;
    text-transform: uppercase;
    height: 49px;
    background: rgba(104, 4, 104, 0.411);
    border-radius: 8px;
    color: white;
}

.footer{
    background-color: #323534;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    color: #ffffff;
}

.footer__navegacao{
    width: 30%;
    padding: 53px;
    text-align: center;

}

.footer__item{
    list-style: none;
}


.creditos{
    background-color: #292A2A;
    text-align: center;
    height: 41px;
    color: white;
    font-size: 10px;
    box-sizing: border-box;
    padding: 15px
}